<launch>
  <!-- turtlebot_teleop_key already has its own built in velocity smoother -->
  <node pkg="rosguard_bringup"
        type="rosguard_teleop_key"
        name="rosguard_teleop_keyboard"
        output="screen">

    <!-- <remap from="arlobot_teleop_keyboard/cmd_vel" to="diffbot_controller/cmd_vel"/> -->
    <!-- <remap from="chefbot_teleop_keyboard/cmd_vel" to="cmd_vel_mux/input/teleop"/> -->
    <remap from="chefbot_teleop_keyboard/cmd_vel"
           to="cmd_vel"/> 

  </node>
</launch>
